$colorPrincipal: #3F72AF;
$colorSecundario: #1363DF;
$colorBlack: black;
$colorWhite: #F9F7F7;
$colorDark: #112D4E;

$opacity: 0.5;

$textBold: 700;
$textNoBold: 400;
$textTitleFont: "Cinzel";
$textTitleSize: 72px;
$textSubtitleFont: "Tangerine";
$textSubtitleSize: 24px;
$textBody: "Quattrocento";
