.jcse {
    justify-content: space-evenly;
}

.footer {
    background: #FFE3F1;
}

.footer-text {
    background: #94667D;
}

body {
    background: #E0B0C8;
}

.navbar {
    background-color: #FFE3F1 !important;
}

.logo {
    border-radius: 60%;
}